*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.bgimg{
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    /* background-attachment: scroll; не подобаеться*/
    /* background-attachment: local; також фігня*/
    /* background-attachment: inherit; туди само*/
    /* background-attachment: initial; до корабля*/
}
.grad{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(11,10,10,0.8968721277573529) 8%, rgba(243,246,247,0) 30%);
}
body{
    background-color: black;
}
main {
    padding: 58px 85px 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 1458px;
}
header{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline;
}
input[type="text"] {
    text-align: center;
    outline: none;
    border: 0;
    color: white;
    background: rgba(0, 0, 0, 0);
}
::placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #ffffff;
}
.mobilemenu{
    padding: 9px;
    flex-direction: column;
    display: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 3px solid white;
    justify-content: space-around;
    align-items: center;
}
p{
    margin: 0;
    padding: 0;
    width: 25px;
    border: 1px solid white;
}
.logo{
    font-size: 24px;
    font-weight: 700;
    color: #ffff;
}
.link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    margin-left: 25px;
    margin-right: 25px;
}
.link:hover{
    color: chocolate;
}
.icon{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    display: inline-flex;
    margin-top: 170px;
}
.foll{
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 22px;
    text-decoration: none;
}
.foll:hover{
    color: chocolate;
}
.alldiscover{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    flex-grow: 1;
    margin-top: 120px;
}
.discover{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orange{
    font-size: 18px;
    font-weight: 700;
    color: #FFC178;
    position: relative;
    right: 245px;
}
.orange::before{
    content:'';
    border: 2px solid #FFC178;
    display: inline-flex;
    position: relative;
    top: -5px;
    right: 32px;
    width: 72px;
}
.zagolovok{
    font-size: 96px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 126px;
}
.scroli{
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 505px;
    text-decoration: none;
}
.scrol::after{
    content: url(../img/strela\ vniz.png);
    position: absolute;
    padding-left: 9px;
}
.scrol:hover{
    color: chocolate;
}
.mountians{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-bottom: 250px;
    margin-top: 520px;
}
.mount{
    width: 43%;
}
.mo{
    width: 100%;
}
.mounttext{
    display: flex;
    flex-direction: column;
    width: 46%;
}
.verhtext{
    font-size: 18px;
    font-weight: 700;
    color: #FFC178;
    position: relative;
    margin-left: 27px;
    margin-bottom: 30px;
    letter-spacing: 6px;
    line-height: 25px;
}
.verhtext::before{
    content: "";
    border: 2px solid #FFC178;
    width: 72px;
    display: inline-flex;
    position: relative;
    bottom: 6px;
    right: 22px;
}
.sertext{
    font-size: 64px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 27px;
    line-height: 87px;
}
.mtext{
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 27px;
    line-height: 32px;
}
.readmore{
    font-size: 18px;
    font-weight: 700;
    color: #FFC178;
    text-decoration: none;
    line-height: 25px;
}
.readmore::after{
    content: url(../img/yelov\ strela\ vpravo.png);
    position: relative;
    top: 3px;
    left: 9px;
}
.readmore:hover{
    color: chocolate;
}
.bromo{
    width: 100%;
    background-image: url(../img/image\ 2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 455px;
    padding-bottom: 35px;
}
.strelki{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.brverf{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 6px;
    color: #FFC178;
    margin-bottom: 24px;
}
.brverf::before{
    content: "";
    border: 2px solid #FFC178;
    width: 72px;
    display: inline-flex;
    position: relative;
    bottom: 6px;
    right: 22px;
}
.brverf::after{
    content: "";
    border: 2px solid #FFC178;
    width: 72px;
    display: inline-flex;
    position: relative;
    bottom: 6px;
    left: 22px;
}
.brsteady{
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 27px;
}
.brtext{
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: #ffff;
    text-align: center;
    margin-bottom: 39px;
}
.indo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 235px;
}
.culture{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.culphoto{
    width: 43%;
}
.clphoto{
    width: 100%;
}
.indocul{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 6px;
    color: #FFC178;
    padding-left: 28px;
}
.indocul::before{
    content: "";
    border: 2px solid #FFC178;
    width: 72px;
    display: inline-flex;
    position: relative;
    bottom: 6px;
    right: 22px;
}
.our{
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    color: #FFff;
    margin-top: 27px;
    margin-bottom: 27px;
}
.intext{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #FFff;
    margin-bottom: 30px;
}
.qwery{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 260px;
}
.qw{
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    color: #FFff;
    letter-spacing: 1%;
}
.ready{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.re{
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    color: #ffff;
    margin-right: 55px;
}
.get{
    background-color: #ffa343;
    padding: 24px 72px;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    color: black;
    border-radius: 8px;
    border: none;
}
.get:hover{
    color: #FFff;
    background-color: chocolate;
}
.line{
    margin: 47px 0 55px 0;
    height: 1.5px;
    left: 0.14px;
    top: 124.44px;
    width: 100%;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.3;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.let{
    width: 27.4%;
}
.lets{
    font-size: 37px;
    font-weight: 700;
    line-height: 49px;
    color: #ffff;
}
input[type="email"] {
    width: 79%;
    padding-bottom: 25px;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    color: white;
    background: rgba(0, 0, 0, 0);
  }
  ::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #ffffff;
  }
  .btn_letgo {
    margin-left: -4px;
    padding: 28px;
    border-radius: 15% 15% 0 0;
    font-weight: 1000;
    color: black;
    background-color: #ffa343;
    border: none;
  }
  .right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
  }
  .service{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .help{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
  }
  .serv{
    font-size: 20px;
    font-weight: 700;
    color: #ffd1a0;
    text-decoration: none;
  }
  .serv:hover{
    color: chocolate;
  }
  .links{
    font-size: 19px;
    font-weight: 400;
    color: #ffff;
    text-decoration: none;
  }
  .links:hover{
    color: chocolate;
  }
  .terns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
  }
  .tern{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #ffff;
    text-decoration: none;
    margin-left: 50px;
  }
  .privacy{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #ffff;
    text-decoration: none;
    margin-left: 50px;
  }
  .insta{
    margin-right: 50px;
  }
  .twit{
    margin-right: 50px;
  }
  .fb{
    margin-right: 50px;
  }
  .privacy:hover{
    color: chocolate;
  }
  .tern:hover{
    color: chocolate;
  }
  .final{
    padding-top: 160px;
    padding-bottom: 118px;
    width: 100%;
  }
  .copy{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: #FFff;
    opacity: 0.5;
  }
  @media (min-width: 831px) and (max-width: 1200px) {
    .orange{
        right: 152px;
    }
    .verhtext{
        margin-bottom: 6px;
        line-height: 0px;
    }
    .sertext{
        margin-bottom: 10px;
        line-height: 67px;
    }
    .mtext{
        line-height: 25px;
    }
    .indocul{
        line-height: 1px;
    }
    .our{
        line-height: 68px;
        margin-top: 5px;
        margin-bottom: 18px;
    }
    .intext{
        line-height: 22px;
        margin-bottom: 15px;
    }
    .let{
        width: 32.4%;
    }
  }
  @media (max-width: 830px){
    main{
        padding: 22px 20px 0;
    }
    .orange{
        right: 70px;
    }
    .alldiscover{
        width: 96%;
        margin-top: 100px;
    }
    .let{
        width: 43.4%;
    }
    .tern{
        margin-left: 0px;
    }
    .privacy{
        margin-left: 30px;
    }
    .fb{
        margin-right: 30px;
    }
    .twit{
        margin-right: 30px;
    }
    .insta{
        margin-right: 0;
    }
    .verhtext{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 0;
    }
    .sertext{
        font-size: 49px;
        margin-bottom: 7px;
        line-height: 57px;
    }
    .mtext{
        margin-bottom: 10px;
        line-height: 20px;
    }
    .scrol{
        margin-bottom: 450px;
    }
    .indocul{
        font-size: 16px;
        line-height: 21px;
    }
    .our{
        font-size: 40px;
        line-height: 42px;
        margin-top: 3px;
        margin-bottom: 15px;
    }
    .intext{
        line-height: 24px;
    }
  }
  @media (max-width: 430px){
    main{
        padding: 10px 10px 0;
    }
    .menu{
        display: none;
    }
    .mobilemenu{
        display: flex;
        flex-direction: column;
    }
    .alldiscover{
        width: 93%;
        margin-top: 125px;
    }
    .discover{
        margin-left: 20px;
    }
    .orange{
        right: 53px;
        text-align: end;
        font-weight: 600;
    }
    .zagolovok{
        font-size: 66px;
        font-weight: 500;
    }
    .scrol{
        margin-right: 70px;
    }
    .mountians{
        flex-direction: column;
        padding-bottom: 100px;
        margin-top: 0px;
    }
    .mount{
        width: 95%;
    }
    .mounttext{
        width: 95%;
        margin-top: 40px;
    }
    .bromo{
        padding-top: 225px;
    }
    .brverf{
        color: chocolate;
        margin-top: 25px;
    }
    .brverf::after{
        border: 2px solid chocolate;
    }
    .brverf::before{
        border: 2px solid chocolate;
    }
    .brsteady{
        font-size: 60px;
        line-height: 67px;
    }
    .brtext{
        line-height: 25px;
    }
    .indo{
        flex-direction: column-reverse;
        margin-top: 150px;
    }
    .culture{
        width: 95%;
    }
    .culphoto{
        width: 95%;
    }
    .indocul{
        margin-top: 40px;
    }
    .our{
        font-size: 45px;
        margin-top: 10px;
    }
    .qwery{
        margin-top: 180px;
    }
    .qw{
        font-size: 28px;
    }
    .re{
        font-size: 16px;
        margin-right: 9px;
    }
    .get{
        padding: 11px 17px;
        font-size: 20px;
    }
    input[type="email"]{
        padding-bottom: 10px;
        margin-left: 20px;
    }
    .btn_letgo{
        padding: 12px 20px;
    }
    .let{
        width: 95%;
    }
    .footer{
        flex-direction: column;
    }
    .lets{
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .serv{
        font-size: 17px;
    }
    .links{
        font-size: 16px;
    }
    .right{
        margin-top: 35px;
    }
    .terns{
        margin-top: 100px;
    }
    .privacy{
        margin-left: 10px;
    }
    .fb{
        margin-right: 10px;
    }
    .twit{
        margin-right: 10px;
    }
    .final{
        padding-top: 100px;
        padding-bottom: 80px;
    }
  }